# Dependency requirements for sphinx documentation
# Defining the exact version will make sure things don't break

pydantic
waveorder
sphinx_copybutton
sphinxcontrib-video
myst_parser
sphinx_mdinclude
linkify-it-py
numpydoc
sphinx_sitemap
sphinx_gallery
pydata_sphinx_theme
matplotlib
importlib_metadata
