[build-system]
requires = ["setuptools", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "waveorder/_version.py"

[project]
name = "waveorder"
description = "Wave-optical simulations and deconvolution of optical properties"
readme = "README.md"
requires-python = ">=3.10"
license = { file = "LICENSE" }
authors = [{ name = "CZ Biohub SF", email = "compmicro@czbiohub.org" }]
maintainers = [
  { name = "Talon Chandler", email = "talon.chandler@czbiohub.org" },
  { name = "Shalin Mehta", email = "shalin.mehta@czbiohub.org" },
]
keywords = [
  "simulation",
  'optics',
  'phase',
  'scattering',
  'polarization',
  'label-free',
  'permittivity',
  "reconstruction-algorithm",
  'qlipp',
  'mipolscope',
  'permittivity-tensor-imaging',
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: BSD License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Scientific/Engineering",
  "Topic :: Scientific/Engineering :: Image Processing",
  "Topic :: Scientific/Engineering :: Bio-Informatics",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: MacOS",
]
dependencies = [
  "numpy>=1.21, <2",
  "matplotlib>=3.1.1",
  "scipy>=1.3.0",
  "pywavelets>=1.1.1",
  "ipywidgets>=7.5.1",
  "torch>=2.2.1",
]
dynamic = ["version"]

[project.optional-dependencies]
dev = ["pytest", "pytest-cov"]

[project.urls]
Homepage = "https://github.com/mehta-lab/waveorder"
Repository = "https://github.com/mehta-lab/waveorder"
Issues = "https://github.com/mehta-lab/waveorder/issues"

[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79
