name: test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: ${{ matrix.platform }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7

      - run: uv python install ${{ matrix.python-version }}

      - uses: pyvista/setup-headless-display-action@v4
        with:
          qt: true

      - run: uv sync --group test --extra visual

      - run: uv run pytest -v --color=yes --cov=waveorder --cov-report=xml

      - uses: codecov/codecov-action@v3
